:root {
	--font-Nunito: "Nunito", sans-serif;
	--font-Rubik: "Rubik", sans-serif;

	--color-hard-black: #000000;
	--color-black: #263238;
	--color-charcoal-gray: #424242;
	--color-dark-blue: #34515e;
	--color-brown: #707070;
	--color-medium-silver: #8d8d8d;
	--color-light-brown: #afafaf;
	--color-medium-gray: #afafaf;
	--color-light-grey: #cfd8dc;
	--color-white: #fafafa;
	--color-blue-grey: #eceff1;
	--color-light-silver: #d7d7d7;
	--color-lightening-gray: #efefef;
	--color-pale-gray: #ededed;
	--color-ash-gray: #e0e0e0;
	--color-near-white: #f5f5f5;
	--color-red: #d32f2f;
	--color-light-red: #ff6659;
}

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	scrollbar-gutter: stable;
}

body {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	scrollbar-gutter: stable;
	min-width: 320px;
	margin: 0;
	background-color: var(--color-white);
	color: var(--color-black);
	font-family: var(--font-Nunito);
	font-style: normal;
	font-weight: 400;
	font-size: 100%;
	line-height: 1.5;
	box-sizing: border-box;
	scroll-behavior: smooth;
	cursor: default;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body.lock {
	overflow: hidden;
}

.main {
	display: flex;
	height: 100%;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px 0 0;
}